# Phase 1
Data Investigation

In [5]:
import pandas as pd
data_201= pd.read_csv('../data/Train/station_201_deploy.csv')
data_275= pd.read_csv('../data/Train/station_275_deploy.csv')

In [6]:
data_201

,station,latitude,longitude,numDocks,timestamp,year,month,day,hour,weekday,...,temperature.C,relHumidity.HR,airPressure.mb,precipitation.l.m2,bikes_3h_ago,full_profile_3h_diff_bikes,full_profile_bikes,short_profile_3h_diff_bikes,short_profile_bikes,bikes
0,201,39.478178,-0.383541,27,1.412114e+09,2014,10,1,0,Wednesday,...,21.3,85.0,855.3,0.0,NaN,NaN,NaN,NaN,NaN,1.0
1,201,39.478178,-0.383541,27,1.412118e+09,2014,10,1,1,Wednesday,...,21.1,86.0,1000.6,0.0,NaN,NaN,NaN,NaN,NaN,0.0
2,201,39.478178,-0.383541,27,1.412122e+09,2014,10,1,2,Wednesday,...,20.9,86.0,880.6,0.0,NaN,NaN,NaN,NaN,NaN,0.0
3,201,39.478178,-0.383541,27,1.412125e+09,2014,10,1,3,Wednesday,...,20.4,88.0,859.8,0.0,1.0,NaN,NaN,NaN,NaN,0.0
4,201,39.478178,-0.383541,27,1.412129e+09,2014,10,1,4,Wednesday,...,20.3,87.0,898.1,0.0,0.0,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740,201,39.478178,-0.383541,27,1.414778e+09,2014,10,31,19,Friday,...,20.2,80.0,1023.5,0.0,1.0,2.00,2.50,2.00,2.50,0.0
741,201,39.478178,-0.383541,27,1.414782e+09,2014,10,31,20,Friday,...,20.2,82.0,1023.9,0.0,1.0,3.00,3.25,3.00,3.25,2.0
742,201,39.478178,-0.383541,27,1.414786e+09,2014,10,31,21,Friday,...,20.0,83.0,1024.0,0.0,1.0,2.25,2.75,2.25,2.75,7.0
743,201,39.478178,-0.383541,27,1.414789e+09,2014,10,31,22,Friday,...,19.3,84.0,1024.4,0.0,0.0,3.25,5.75,3.25,5.75,9.0
744,201,39.478178,-0.383541,27,1.414793e+09,2014,10,31,23,Friday,...,19.1,86.0,1024.1,0.0,2.0,7.50,10.75,7.50,10.75,14.0

In [7]:
data_275

,station,latitude,longitude,numDocks,timestamp,year,month,day,hour,weekday,...,temperature.C,relHumidity.HR,airPressure.mb,precipitation.l.m2,bikes_3h_ago,full_profile_3h_diff_bikes,full_profile_bikes,short_profile_3h_diff_bikes,short_profile_bikes,bikes
0,275,39.450273,-0.333363,15,1.412114e+09,2014,10,1,0,Wednesday,...,21.3,85.0,855.3,0.0,NaN,NaN,NaN,NaN,NaN,15.0
1,275,39.450273,-0.333363,15,1.412118e+09,2014,10,1,1,Wednesday,...,21.1,86.0,1000.6,0.0,NaN,NaN,NaN,NaN,NaN,15.0
2,275,39.450273,-0.333363,15,1.412122e+09,2014,10,1,2,Wednesday,...,20.9,86.0,880.6,0.0,NaN,NaN,NaN,NaN,NaN,15.0
3,275,39.450273,-0.333363,15,1.412125e+09,2014,10,1,3,Wednesday,...,20.4,88.0,859.8,0.0,15.0,NaN,NaN,NaN,NaN,15.0
4,275,39.450273,-0.333363,15,1.412129e+09,2014,10,1,4,Wednesday,...,20.3,87.0,898.1,0.0,15.0,NaN,NaN,NaN,NaN,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740,275,39.450273,-0.333363,15,1.414778e+09,2014,10,31,19,Friday,...,20.2,80.0,1023.5,0.0,15.0,-0.50,7.00,-0.50,7.00,15.0
741,275,39.450273,-0.333363,15,1.414782e+09,2014,10,31,20,Friday,...,20.2,82.0,1023.9,0.0,15.0,1.75,8.75,1.75,8.75,15.0
742,275,39.450273,-0.333363,15,1.414786e+09,2014,10,31,21,Friday,...,20.0,83.0,1024.0,0.0,15.0,3.25,10.50,3.25,10.50,15.0
743,275,39.450273,-0.333363,15,1.414789e+09,2014,10,31,22,Friday,...,19.3,84.0,1024.4,0.0,15.0,3.00,10.00,3.00,10.00,15.0
744,275,39.450273,-0.333363,15,1.414793e+09,2014,10,31,23,Friday,...,19.1,86.0,1024.1,0.0,15.0,0.25,9.00,0.25,9.00,14.0

In [4]:
#station, latitude, longitude and numDocks are per station
data_201.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 745 entries, 0 to 744
Data columns (total 25 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   station                      745 non-null    int64
 1   latitude                     745 non-null    float64
 2   longitude                    745 non-null    float64
 3   numDocks                     745 non-null    int64
 4   timestamp                    745 non-null    float64
 5   year                         745 non-null    int64
 6   month                        745 non-null    int64
 7   day                          745 non-null    int64
 8   hour                         745 non-null    int64
 9   weekday                      745 non-null    object
 10  weekhour                     745 non-null    int64
 11  isHoliday                    745 non-null    int64
 12  windMaxSpeed.m.s             744 non-null    float64
 13  windMeanSpeed.m.s            744 non-null    float64
 14  windDirection.grades         740 non-null    float64
 15  temperature.C                744 non-null    float64
 16  relHumidity.HR               744 non-null    float64
 17  airPressure.mb               744 non-null    float64
 18  precipitation.l.m2           744 non-null    float64
 19  bikes_3h_ago                 741 non-null    float64
 20  full_profile_3h_diff_bikes   574 non-null    float64
 21  full_profile_bikes           577 non-null    float64
 22  short_profile_3h_diff_bikes  574 non-null    float64
 23  short_profile_bikes          577 non-null    float64
 24  bikes                        744 non-null    float64
dtypes: float64(16), int64(8), object(1)
memory usage: 145.6+ KB

In [8]:
data_275.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 745 entries, 0 to 744
Data columns (total 25 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   station                      745 non-null    int64
 1   latitude                     745 non-null    float64
 2   longitude                    745 non-null    float64
 3   numDocks                     745 non-null    int64
 4   timestamp                    745 non-null    float64
 5   year                         745 non-null    int64
 6   month                        745 non-null    int64
 7   day                          745 non-null    int64
 8   hour                         745 non-null    int64
 9   weekday                      745 non-null    object
 10  weekhour                     745 non-null    int64
 11  isHoliday                    745 non-null    int64
 12  windMaxSpeed.m.s             744 non-null    float64
 13  windMeanSpeed.m.s            744 non-null    float64
 14  windDirection.grades         740 non-null    float64
 15  temperature.C                744 non-null    float64
 16  relHumidity.HR               744 non-null    float64
 17  airPressure.mb               744 non-null    float64
 18  precipitation.l.m2           744 non-null    float64
 19  bikes_3h_ago                 741 non-null    float64
 20  full_profile_3h_diff_bikes   574 non-null    float64
 21  full_profile_bikes           577 non-null    float64
 22  short_profile_3h_diff_bikes  574 non-null    float64
 23  short_profile_bikes          577 non-null    float64
 24  bikes                        744 non-null    float64
dtypes: float64(16), int64(8), object(1)
memory usage: 145.6+ KB

In [20]:
data_201[['isHoliday',
          'windMaxSpeed.m.s', 'windMeanSpeed.m.s', 'windDirection.grades',
          'temperature.C', 'relHumidity.HR', 'airPressure.mb',
          'precipitation.l.m2', 'bikes_3h_ago', 'full_profile_3h_diff_bikes',
          'full_profile_bikes', 'short_profile_3h_diff_bikes',
          'short_profile_bikes', 'bikes']].describe()

,isHoliday,windMaxSpeed.m.s,windMeanSpeed.m.s,windDirection.grades,temperature.C,relHumidity.HR,airPressure.mb,precipitation.l.m2,bikes_3h_ago,full_profile_3h_diff_bikes,full_profile_bikes,short_profile_3h_diff_bikes,short_profile_bikes,bikes
count,745.000000,744.000000,744.000000,740.000000,744.000000,744.000000,744.000000,744.0,741.000000,574.000000,577.000000,574.000000,577.000000,744.000000
mean,0.064430,11.406855,4.694489,170.227162,21.707796,65.943548,1002.257258,0.0,4.292848,0.050377,3.857019,0.050377,3.857019,4.315860
std,0.245681,8.670207,4.586135,86.970566,3.273425,16.735357,42.551917,0.0,4.576888,4.395611,3.743557,4.395611,3.743557,4.585772
min,0.000000,0.000000,0.000000,0.000000,13.900000,18.000000,811.900000,0.0,0.000000,-19.000000,0.000000,-19.000000,0.000000,0.000000
25%,0.000000,4.800000,1.600000,135.000000,19.400000,54.000000,1009.675000,0.0,1.000000,-2.000000,1.000000,-2.000000,1.000000,1.000000
50%,0.000000,9.700000,3.200000,180.000000,21.350000,68.000000,1015.350000,0.0,3.000000,0.000000,3.000000,0.000000,3.000000,3.000000
75%,0.000000,16.100000,6.400000,202.500000,23.400000,81.000000,1021.500000,0.0,6.000000,2.333333,5.000000,2.333333,5.000000,6.000000
max,1.000000,43.500000,27.400000,337.500000,34.600000,91.000000,1084.900000,0.0,26.000000,17.000000,20.000000,17.000000,20.000000,26.000000

In [29]:
data_201.isHoliday.value_counts()

0    697
1     48
Name: isHoliday, dtype: int64

In [41]:
data_201.weekhour.value_counts()

49     5
104    5
102    5
101    5
100    5
      ..
150    4
149    4
148    4
146    4
48     4
Name: weekhour, Length: 168, dtype: int64

In [42]:
data_201.hour.value_counts()

2     32
0     31
13    31
22    31
21    31
20    31
19    31
18    31
17    31
16    31
15    31
14    31
12    31
1     31
11    31
10    31
9     31
8     31
7     31
6     31
5     31
4     31
3     31
23    31
Name: hour, dtype: int64

In [34]:
data_201.month.value_counts()

10    745
Name: month, dtype: int64

In [39]:
data_275.year.value_counts()

2014    745
Name: year, dtype: int64

In [40]:
data_201.weekday.value_counts()

Wednesday    120
Thursday     120
Friday       120
Sunday        97
Saturday      96
Monday        96
Tuesday       96
Name: weekday, dtype: int64

In [31]:
data_201.bikes.value_counts()

0.0     140
1.0     122
2.0      79
3.0      62
4.0      58
6.0      54
5.0      52
7.0      36
8.0      34
9.0      25
10.0     16
11.0     13
12.0      7
14.0      6
15.0      6
20.0      6
16.0      6
17.0      5
13.0      5
19.0      4
18.0      2
22.0      2
24.0      2
23.0      1
26.0      1
Name: bikes, dtype: int64

In [26]:
data_201.full_profile_3h_diff_bikes.value_counts()

 0.000000    61
-1.000000    43
-2.000000    34
 1.000000    26
 3.000000    23
             ..
 5.333333     1
-5.666667     1
 5.666667     1
-5.333333     1
 3.250000     1
Name: full_profile_3h_diff_bikes, Length: 97, dtype: int64

In [32]:
data_201.short_profile_3h_diff_bikes.value_counts()

 0.000000    61
-1.000000    43
-2.000000    34
 1.000000    26
 3.000000    23
             ..
 5.333333     1
-5.666667     1
 5.666667     1
-5.333333     1
 3.250000     1
Name: short_profile_3h_diff_bikes, Length: 97, dtype: int64

In [43]:
data_201[:20]

,station,latitude,longitude,numDocks,timestamp,year,month,day,hour,weekday,...,temperature.C,relHumidity.HR,airPressure.mb,precipitation.l.m2,bikes_3h_ago,full_profile_3h_diff_bikes,full_profile_bikes,short_profile_3h_diff_bikes,short_profile_bikes,bikes
0,201,39.478178,-0.383541,27,1.412114e+09,2014,10,1,0,Wednesday,...,21.3,85.0,855.3,0.0,NaN,NaN,NaN,NaN,NaN,1.0
1,201,39.478178,-0.383541,27,1.412118e+09,2014,10,1,1,Wednesday,...,21.1,86.0,1000.6,0.0,NaN,NaN,NaN,NaN,NaN,0.0
2,201,39.478178,-0.383541,27,1.412122e+09,2014,10,1,2,Wednesday,...,20.9,86.0,880.6,0.0,NaN,NaN,NaN,NaN,NaN,0.0
3,201,39.478178,-0.383541,27,1.412125e+09,2014,10,1,3,Wednesday,...,20.4,88.0,859.8,0.0,1.0,NaN,NaN,NaN,NaN,0.0
4,201,39.478178,-0.383541,27,1.412129e+09,2014,10,1,4,Wednesday,...,20.3,87.0,898.1,0.0,0.0,NaN,NaN,NaN,NaN,0.0
5,201,39.478178,-0.383541,27,1.412132e+09,2014,10,1,5,Wednesday,...,20.1,88.0,910.6,0.0,0.0,NaN,NaN,NaN,NaN,0.0
6,201,39.478178,-0.383541,27,1.412136e+09,2014,10,1,6,Wednesday,...,19.6,89.0,908.1,0.0,0.0,NaN,NaN,NaN,NaN,0.0
7,201,39.478178,-0.383541,27,1.412140e+09,2014,10,1,7,Wednesday,...,19.7,89.0,987.8,0.0,0.0,NaN,NaN,NaN,NaN,0.0
8,201,39.478178,-0.383541,27,1.412143e+09,2014,10,1,8,Wednesday,...,19.8,88.0,971.3,0.0,0.0,NaN,NaN,NaN,NaN,8.0
9,201,39.478178,-0.383541,27,1.412147e+09,2014,10,1,9,Wednesday,...,20.1,87.0,983.1,0.0,0.0,NaN,NaN,NaN,NaN,6.0
10,201,39.478178,-0.383541,27,1.412150e+09,2014,10,1,10,Wednesday,...,21.1,84.0,983.1,0.0,0.0,NaN,NaN,NaN,NaN,6.0
11,201,39.478178,-0.383541,27,1.412154e+09,2014,10,1,11,Wednesday,...,22.2,82.0,884.0,0.0,8.0,NaN,NaN,NaN,NaN,3.0
12,201,39.478178,-0.383541,27,1.412158e+09,2014,10,1,12,Wednesday,...,22.8,80.0,850.0,0.0,6.0,NaN,NaN,NaN,NaN,7.0
13,201,39.478178,-0.383541,27,1.412161e+09,2014,10,1,13,Wednesday,...,23.1,78.0,819.7,0.0,6.0,NaN,NaN,NaN,NaN,3.0
14,201,39.478178,-0.383541,27,1.412165e+09,2014,10,1,14,Wednesday,...,23.2,78.0,811.9,0.0,3.0,NaN,NaN,NaN,NaN,5.0
15,201,39.478178,-0.383541,27,1.412168e+09,2014,10,1,15,Wednesday,...,23.3,76.0,997.4,0.0,7.0,NaN,NaN,NaN,NaN,2.0
16,201,39.478178,-0.383541,27,1.412172e+09,2014,10,1,16,Wednesday,...,23.3,77.0,1084.9,0.0,3.0,NaN,NaN,NaN,NaN,10.0
17,201,39.478178,-0.383541,27,1.412176e+09,2014,10,1,17,Wednesday,...,23.2,79.0,996.9,0.0,5.0,NaN,NaN,NaN,NaN,19.0
18,201,39.478178,-0.383541,27,1.412179e+09,2014,10,1,18,Wednesday,...,23.1,81.0,1072.1,0.0,2.0,NaN,NaN,NaN,NaN,10.0
19,201,39.478178,-0.383541,27,1.412183e+09,2014,10,1,19,Wednesday,...,22.9,80.0,971.0,0.0,10.0,NaN,NaN,NaN,NaN,3.0

#First conclusions:
Goal: Predict the number of bikes available at each hour. Which makes it possible to predict 3h in advance

ML:
- Seems to be a regression problem -> probably first algorithms to try

Data:
- There are NA data fields that need to be handled
- Not sure yet what full_profile3h_diff_bikes, full_profile_bikes, short_profile_3h_diff_bikes and short_profile_bikes means
- Need some further investigation of what features are most correlated to no of bikes

Evaluation:
Mean absolute error between the predicted and true value

In [10]:
#reading all csv files for training into one dataframe
import glob
import os
df = pd.concat(map(pd.read_csv, glob.glob(os.path.join('../Data/Train', "*.csv"))))
    df

,station,latitude,longitude,numDocks,timestamp,year,month,day,hour,weekday,...,temperature.C,relHumidity.HR,airPressure.mb,precipitation.l.m2,bikes_3h_ago,full_profile_3h_diff_bikes,full_profile_bikes,short_profile_3h_diff_bikes,short_profile_bikes,bikes
0,206,39.472030,-0.370965,24,1.412114e+09,2014,10,1,0,Wednesday,...,21.3,85.0,855.3,0.0,NaN,NaN,NaN,NaN,NaN,0.0
1,206,39.472030,-0.370965,24,1.412118e+09,2014,10,1,1,Wednesday,...,21.1,86.0,1000.6,0.0,NaN,NaN,NaN,NaN,NaN,0.0
2,206,39.472030,-0.370965,24,1.412122e+09,2014,10,1,2,Wednesday,...,20.9,86.0,880.6,0.0,NaN,NaN,NaN,NaN,NaN,0.0
3,206,39.472030,-0.370965,24,1.412125e+09,2014,10,1,3,Wednesday,...,20.4,88.0,859.8,0.0,0.0,NaN,NaN,NaN,NaN,0.0
4,206,39.472030,-0.370965,24,1.412129e+09,2014,10,1,4,Wednesday,...,20.3,87.0,898.1,0.0,0.0,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740,208,39.469056,-0.375728,34,1.414778e+09,2014,10,31,19,Friday,...,20.2,80.0,1023.5,0.0,12.0,0.25,10.00,0.25,10.00,6.0
741,208,39.469056,-0.375728,34,1.414782e+09,2014,10,31,20,Friday,...,20.2,82.0,1023.9,0.0,9.0,-2.25,6.50,-2.25,6.50,7.0
742,208,39.469056,-0.375728,34,1.414786e+09,2014,10,31,21,Friday,...,20.0,83.0,1024.0,0.0,6.0,-1.75,6.00,-1.75,6.00,6.0
743,208,39.469056,-0.375728,34,1.414789e+09,2014,10,31,22,Friday,...,19.3,84.0,1024.4,0.0,6.0,-6.75,3.25,-6.75,3.25,5.0
744,208,39.469056,-0.375728,34,1.414793e+09,2014,10,31,23,Friday,...,19.1,86.0,1024.1,0.0,7.0,-3.50,3.00,-3.50,3.00,11.0

In [11]:
df.shape

(55875, 25)

In [16]:
df.bikes
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55875 entries, 0 to 744
Data columns (total 25 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   station                      55875 non-null  int64
 1   latitude                     55875 non-null  float64
 2   longitude                    55875 non-null  float64
 3   numDocks                     55875 non-null  int64
 4   timestamp                    55875 non-null  float64
 5   year                         55875 non-null  int64
 6   month                        55875 non-null  int64
 7   day                          55875 non-null  int64
 8   hour                         55875 non-null  int64
 9   weekday                      55875 non-null  object
 10  weekhour                     55875 non-null  int64
 11  isHoliday                    55875 non-null  int64
 12  windMaxSpeed.m.s             55800 non-null  float64
 13  windMeanSpeed.m.s            55800 non-null  float64
 14  windDirection.grades         55500 non-null  float64
 15  temperature.C                55800 non-null  float64
 16  relHumidity.HR               55800 non-null  float64
 17  airPressure.mb               55800 non-null  float64
 18  precipitation.l.m2           55800 non-null  float64
 19  bikes_3h_ago                 55575 non-null  float64
 20  full_profile_3h_diff_bikes   43050 non-null  float64
 21  full_profile_bikes           43275 non-null  float64
 22  short_profile_3h_diff_bikes  43050 non-null  float64
 23  short_profile_bikes          43275 non-null  float64
 24  bikes                        55800 non-null  float64
dtypes: float64(16), int64(8), object(1)
memory usage: 11.1+ MB

In [23]:
#75 rows don't have a label! -> Probably best to remove those for training
df[df['bikes'].isnull()]

,station,latitude,longitude,numDocks,timestamp,year,month,day,hour,weekday,...,temperature.C,relHumidity.HR,airPressure.mb,precipitation.l.m2,bikes_3h_ago,full_profile_3h_diff_bikes,full_profile_bikes,short_profile_3h_diff_bikes,short_profile_bikes,bikes
603,206,39.472030,-0.370965,24,1.414285e+09,2014,10,26,2,Sunday,...,NaN,NaN,NaN,NaN,1.0,-2.75,4.75,-2.75,4.75,NaN
603,231,39.478354,-0.347366,20,1.414285e+09,2014,10,26,2,Sunday,...,NaN,NaN,NaN,NaN,14.0,0.50,12.75,0.50,12.75,NaN
603,264,39.495034,-0.382369,15,1.414285e+09,2014,10,26,2,Sunday,...,NaN,NaN,NaN,NaN,10.0,1.00,7.00,1.00,7.00,NaN
603,253,39.485811,-0.396678,20,1.414285e+09,2014,10,26,2,Sunday,...,NaN,NaN,NaN,NaN,4.0,0.25,5.75,0.25,5.75,NaN
603,269,39.450256,-0.403665,20,1.414285e+09,2014,10,26,2,Sunday,...,NaN,NaN,NaN,NaN,6.0,0.25,13.00,0.25,13.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
603,267,39.462808,-0.405060,20,1.414285e+09,2014,10,26,2,Sunday,...,NaN,NaN,NaN,NaN,1.0,0.25,9.50,0.25,9.50,NaN
603,241,39.469844,-0.329645,15,1.414285e+09,2014,10,26,2,Sunday,...,NaN,NaN,NaN,NaN,6.0,-1.50,5.75,-1.50,5.75,NaN
603,214,39.467333,-0.365119,20,1.414285e+09,2014,10,26,2,Sunday,...,NaN,NaN,NaN,NaN,9.0,-11.50,3.50,-11.50,3.50,NaN
603,223,39.467747,-0.358505,20,1.414285e+09,2014,10,26,2,Sunday,...,NaN,NaN,NaN,NaN,1.0,-4.25,3.25,-4.25,3.25,NaN
603,208,39.469056,-0.375728,34,1.414285e+09,2014,10,26,2,Sunday,...,NaN,NaN,NaN,NaN,2.0,-8.25,5.00,-8.25,5.00,NaN

In [24]:
#most rows have some NaN values
is_NaN = df.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = df[row_has_NaN]
rows_with_NaN

,station,latitude,longitude,numDocks,timestamp,year,month,day,hour,weekday,...,temperature.C,relHumidity.HR,airPressure.mb,precipitation.l.m2,bikes_3h_ago,full_profile_3h_diff_bikes,full_profile_bikes,short_profile_3h_diff_bikes,short_profile_bikes,bikes
0,206,39.472030,-0.370965,24,1.412114e+09,2014,10,1,0,Wednesday,...,21.3,85.0,855.3,0.0,NaN,NaN,NaN,NaN,NaN,0.0
1,206,39.472030,-0.370965,24,1.412118e+09,2014,10,1,1,Wednesday,...,21.1,86.0,1000.6,0.0,NaN,NaN,NaN,NaN,NaN,0.0
2,206,39.472030,-0.370965,24,1.412122e+09,2014,10,1,2,Wednesday,...,20.9,86.0,880.6,0.0,NaN,NaN,NaN,NaN,NaN,0.0
3,206,39.472030,-0.370965,24,1.412125e+09,2014,10,1,3,Wednesday,...,20.4,88.0,859.8,0.0,0.0,NaN,NaN,NaN,NaN,0.0
4,206,39.472030,-0.370965,24,1.412129e+09,2014,10,1,4,Wednesday,...,20.3,87.0,898.1,0.0,0.0,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,208,39.469056,-0.375728,34,1.412899e+09,2014,10,10,2,Friday,...,21.7,78.0,1011.2,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
222,208,39.469056,-0.375728,34,1.412914e+09,2014,10,10,6,Friday,...,19.7,75.0,1010.7,0.0,0.0,0.000000,0.0,0.000000,0.0,2.0
334,208,39.469056,-0.375728,34,1.413317e+09,2014,10,14,22,Tuesday,...,19.8,58.0,1008.6,0.0,4.0,-11.000000,2.0,-11.000000,2.0,0.0
603,208,39.469056,-0.375728,34,1.414285e+09,2014,10,26,2,Sunday,...,NaN,NaN,NaN,NaN,2.0,-8.250000,5.0,-8.250000,5.0,NaN
606,208,39.469056,-0.375728,34,1.414296e+09,2014,10,26,5,Sunday,...,18.8,49.0,1021.4,0.0,NaN,-6.666667,0.0,-6.666667,0.0,1.0

In [25]:
#all stations have docks
df[df['numDocks'].isnull()]

Empty DataFrame
Columns: [station, latitude, longitude, numDocks, timestamp, year, month, day, hour, weekday, weekhour, isHoliday, windMaxSpeed.m.s, windMeanSpeed.m.s, windDirection.grades, temperature.C, relHumidity.HR, airPressure.mb, precipitation.l.m2, bikes_3h_ago, full_profile_3h_diff_bikes, full_profile_bikes, short_profile_3h_diff_bikes, short_profile_bikes, bikes]
Index: []

[0 rows x 25 columns]

In [26]:
df.dropna(subset=['bikes'])

,station,latitude,longitude,numDocks,timestamp,year,month,day,hour,weekday,...,temperature.C,relHumidity.HR,airPressure.mb,precipitation.l.m2,bikes_3h_ago,full_profile_3h_diff_bikes,full_profile_bikes,short_profile_3h_diff_bikes,short_profile_bikes,bikes
0,206,39.472030,-0.370965,24,1.412114e+09,2014,10,1,0,Wednesday,...,21.3,85.0,855.3,0.0,NaN,NaN,NaN,NaN,NaN,0.0
1,206,39.472030,-0.370965,24,1.412118e+09,2014,10,1,1,Wednesday,...,21.1,86.0,1000.6,0.0,NaN,NaN,NaN,NaN,NaN,0.0
2,206,39.472030,-0.370965,24,1.412122e+09,2014,10,1,2,Wednesday,...,20.9,86.0,880.6,0.0,NaN,NaN,NaN,NaN,NaN,0.0
3,206,39.472030,-0.370965,24,1.412125e+09,2014,10,1,3,Wednesday,...,20.4,88.0,859.8,0.0,0.0,NaN,NaN,NaN,NaN,0.0
4,206,39.472030,-0.370965,24,1.412129e+09,2014,10,1,4,Wednesday,...,20.3,87.0,898.1,0.0,0.0,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740,208,39.469056,-0.375728,34,1.414778e+09,2014,10,31,19,Friday,...,20.2,80.0,1023.5,0.0,12.0,0.25,10.00,0.25,10.00,6.0
741,208,39.469056,-0.375728,34,1.414782e+09,2014,10,31,20,Friday,...,20.2,82.0,1023.9,0.0,9.0,-2.25,6.50,-2.25,6.50,7.0
742,208,39.469056,-0.375728,34,1.414786e+09,2014,10,31,21,Friday,...,20.0,83.0,1024.0,0.0,6.0,-1.75,6.00,-1.75,6.00,6.0
743,208,39.469056,-0.375728,34,1.414789e+09,2014,10,31,22,Friday,...,19.3,84.0,1024.4,0.0,6.0,-6.75,3.25,-6.75,3.25,5.0
744,208,39.469056,-0.375728,34,1.414793e+09,2014,10,31,23,Friday,...,19.1,86.0,1024.1,0.0,7.0,-3.50,3.00,-3.50,3.00,11.0

In [27]:
# figure out how many rows don't have bikes from 3h ago 
df[df.bikes_3h_ago.isnull()]

,station,latitude,longitude,numDocks,timestamp,year,month,day,hour,weekday,...,temperature.C,relHumidity.HR,airPressure.mb,precipitation.l.m2,bikes_3h_ago,full_profile_3h_diff_bikes,full_profile_bikes,short_profile_3h_diff_bikes,short_profile_bikes,bikes
0,206,39.472030,-0.370965,24,1.412114e+09,2014,10,1,0,Wednesday,...,21.3,85.0,855.3,0.0,NaN,NaN,NaN,NaN,NaN,0.0
1,206,39.472030,-0.370965,24,1.412118e+09,2014,10,1,1,Wednesday,...,21.1,86.0,1000.6,0.0,NaN,NaN,NaN,NaN,NaN,0.0
2,206,39.472030,-0.370965,24,1.412122e+09,2014,10,1,2,Wednesday,...,20.9,86.0,880.6,0.0,NaN,NaN,NaN,NaN,NaN,0.0
606,206,39.472030,-0.370965,24,1.414296e+09,2014,10,26,5,Sunday,...,18.8,49.0,1021.4,0.0,NaN,-3.333333,3.000000,-3.333333,3.000000,1.0
0,231,39.478354,-0.347366,20,1.412114e+09,2014,10,1,0,Wednesday,...,21.3,85.0,855.3,0.0,NaN,NaN,NaN,NaN,NaN,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,223,39.467747,-0.358505,20,1.414296e+09,2014,10,26,5,Sunday,...,18.8,49.0,1021.4,0.0,NaN,1.333333,4.333333,1.333333,4.333333,1.0
0,208,39.469056,-0.375728,34,1.412114e+09,2014,10,1,0,Wednesday,...,21.3,85.0,855.3,0.0,NaN,NaN,NaN,NaN,NaN,0.0
1,208,39.469056,-0.375728,34,1.412118e+09,2014,10,1,1,Wednesday,...,21.1,86.0,1000.6,0.0,NaN,NaN,NaN,NaN,NaN,0.0
2,208,39.469056,-0.375728,34,1.412122e+09,2014,10,1,2,Wednesday,...,20.9,86.0,880.6,0.0,NaN,NaN,NaN,NaN,NaN,0.0
606,208,39.469056,-0.375728,34,1.414296e+09,2014,10,26,5,Sunday,...,18.8,49.0,1021.4,0.0,NaN,-6.666667,0.000000,-6.666667,0.000000,1.0

In [39]:
# find station that has all bikes
stations_with_all_bikes = df[~df['bikes'].isna()]
stations_with_nan_in_bikes = df[df['bikes'].isna()]
print(f'All Stations:\n {sorted(set(stations_with_all_bikes["station"]))}')
print(f'Stations that don\'t have nan in bikes:\n {sorted(set(stations_with_all_bikes["station"]))}')
print(f'Stations that have nan in bikes:\n {sorted(set(stations_with_nan_in_bikes["station"]))}')

# all station have one bike null

All Stations:
 [201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275]
Stations that don't have nan in bikes:
 [201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275]
Stations that have nan in bikes:
 [201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275]

In [41]:
#Number of bikes per station
station_ids = sorted(set(df['station']))
for station in station_ids:
    number_of_bikes = df.loc[df['station'] == station].shape[0]
    print(f'Number of bikes for station {station}: {number_of_bikes}')

Number of bikes for station 201: 745
Number of bikes for station 202: 745
Number of bikes for station 203: 745
Number of bikes for station 204: 745
Number of bikes for station 205: 745
Number of bikes for station 206: 745
Number of bikes for station 207: 745
Number of bikes for station 208: 745
Number of bikes for station 209: 745
Number of bikes for station 210: 745
Number of bikes for station 211: 745
Number of bikes for station 212: 745
Number of bikes for station 213: 745
Number of bikes for station 214: 745
Number of bikes for station 215: 745
Number of bikes for station 216: 745
Number of bikes for station 217: 745
Number of bikes for station 218: 745
Number of bikes for station 219: 745
Number of bikes for station 220: 745
Number of bikes for station 221: 745
Number of bikes for station 222: 745
Number of bikes for station 223: 745
Number of bikes for station 224: 745
Number of bikes for station 225: 745
Number of bikes for station 226: 745
Number of bikes for station 227: 745
Number of bikes for station 228: 745
Number of bikes for station 229: 745
Number of bikes for station 230: 745
Number of bikes for station 231: 745
Number of bikes for station 232: 745
Number of bikes for station 233: 745
Number of bikes for station 234: 745
Number of bikes for station 235: 745
Number of bikes for station 236: 745
Number of bikes for station 237: 745
Number of bikes for station 238: 745
Number of bikes for station 239: 745
Number of bikes for station 240: 745
Number of bikes for station 241: 745
Number of bikes for station 242: 745
Number of bikes for station 243: 745
Number of bikes for station 244: 745
Number of bikes for station 245: 745
Number of bikes for station 246: 745
Number of bikes for station 247: 745
Number of bikes for station 248: 745
Number of bikes for station 249: 745
Number of bikes for station 250: 745
Number of bikes for station 251: 745
Number of bikes for station 252: 745
Number of bikes for station 253: 745
Number of bikes for station 254: 745
Number of bikes for station 255: 745
Number of bikes for station 256: 745
Number of bikes for station 257: 745
Number of bikes for station 258: 745
Number of bikes for station 259: 745
Number of bikes for station 260: 745
Number of bikes for station 261: 745
Number of bikes for station 262: 745
Number of bikes for station 263: 745
Number of bikes for station 264: 745
Number of bikes for station 265: 745
Number of bikes for station 266: 745
Number of bikes for station 267: 745
Number of bikes for station 268: 745
Number of bikes for station 269: 745
Number of bikes for station 270: 745
Number of bikes for station 271: 745
Number of bikes for station 272: 745
Number of bikes for station 273: 745
Number of bikes for station 274: 745
Number of bikes for station 275: 745