# Check values before feature selection in both training and test data

- nan
- different enough values

In [19]:
import pandas as pd
import glob
import os

training_df = pd.concat(map(pd.read_csv, glob.glob(os.path.join('../Data/Train', "*.csv"))), ignore_index=True)
test_df = test_data = pd.read_csv('../data/test.csv')

In [23]:
training_df_shape = training_df.shape
test_df_shape = test_df.shape


def nan_analysis(column_name):
    training_with_null_df = training_df[training_df[column_name].isnull()]
    training_nan = training_with_null_df.shape
    print(f'Number of Nan for {column_name}: {training_nan} of {training_df_shape}')
    test_nan = test_df[test_df[column_name].isnull()].shape
    print(f'Number of Nan for {column_name}: {test_nan} of {test_df_shape}')
    return training_with_null_df[['station']]


def value_analysis(column_name):
    return pd.merge(training_df[[column_name]].describe(),
                    test_df[[column_name]].describe(),
                    left_index=True,
                    right_index=True,
                    suffixes=('training', 'test'))

# Weather Data

In [24]:
precipitation = 'precipitation.l.m2'
precipitation_nan = nan_analysis(precipitation)
value_analysis(precipitation)

# -> Training data has no values for precipitation not a good feature

Number of Nan for precipitation.l.m2: (75, 25) of (55875, 25)
Number of Nan for precipitation.l.m2: (0, 25) of (2250, 25)

       precipitation.l.m2training  precipitation.l.m2test
count                     55800.0             2250.000000
mean                          0.0                0.008622
std                           0.0                0.092475
min                           0.0                0.000000
25%                           0.0                0.000000
50%                           0.0                0.000000
75%                           0.0                0.000000
max                           0.0                2.600000

In [25]:
column = 'temperature.C'
temperature_nan = nan_analysis(column)
value_analysis(column)

# min temperature is quite different between training and test but there seems to be enough data

Number of Nan for temperature.C: (75, 25) of (55875, 25)
Number of Nan for temperature.C: (0, 25) of (2250, 25)

       temperature.Ctraining  temperature.Ctest
count           55800.000000        2250.000000
mean               21.707796          12.926578
std                 3.271253           4.084343
min                13.900000           3.100000
25%                19.400000           9.900000
50%                21.350000          12.900000
75%                23.400000          15.975000
max                34.600000          25.000000

In [26]:
column = 'windMaxSpeed.m.s'
windmax_nan = nan_analysis(column)
value_analysis(column)

Number of Nan for windMaxSpeed.m.s: (75, 25) of (55875, 25)
Number of Nan for windMaxSpeed.m.s: (0, 25) of (2250, 25)

       windMaxSpeed.m.straining  windMaxSpeed.m.stest
count              55800.000000           2250.000000
mean                  11.406855             11.377333
std                    8.664456              9.221720
min                    0.000000              0.000000
25%                    4.800000              4.800000
50%                    9.700000              8.000000
75%                   16.100000             14.500000
max                   43.500000             62.800000

In [27]:
column = 'windMeanSpeed.m.s'
windmean_nan = nan_analysis(column)
value_analysis(column)

Number of Nan for windMeanSpeed.m.s: (75, 25) of (55875, 25)
Number of Nan for windMeanSpeed.m.s: (0, 25) of (2250, 25)

       windMeanSpeed.m.straining  windMeanSpeed.m.stest
count               55800.000000            2250.000000
mean                    4.694489               4.079911
std                     4.583093               4.404740
min                     0.000000               0.000000
25%                     1.600000               1.600000
50%                     3.200000               3.200000
75%                     6.400000               6.400000
max                    27.400000              25.700000

In [28]:
column = 'windDirection.grades'
winddir_nan = nan_analysis(column)
value_analysis(column)

Number of Nan for windDirection.grades: (375, 25) of (55875, 25)
Number of Nan for windDirection.grades: (0, 25) of (2250, 25)

       windDirection.gradestraining  windDirection.gradestest
count                  55500.000000               2250.000000
mean                     170.227162                181.716800
std                       86.912565                 67.840312
min                        0.000000                  0.000000
25%                      135.000000                157.500000
50%                      180.000000                180.000000
75%                      202.500000                225.000000
max                      337.500000                337.500000

In [29]:
column = 'relHumidity.HR'
relhum_nan = nan_analysis(column)
value_analysis(column)

Number of Nan for relHumidity.HR: (75, 25) of (55875, 25)
Number of Nan for relHumidity.HR: (0, 25) of (2250, 25)

       relHumidity.HRtraining  relHumidity.HRtest
count            55800.000000         2250.000000
mean                65.943548           64.204889
std                 16.724256           17.402368
min                 18.000000           17.000000
25%                 54.000000           50.000000
50%                 68.000000           65.000000
75%                 81.000000           79.000000
max                 91.000000           97.000000

In [30]:
column = 'airPressure.mb'
airpressure_nan = nan_analysis(column)
value_analysis(column)

Number of Nan for airPressure.mb: (75, 25) of (55875, 25)
Number of Nan for airPressure.mb: (0, 25) of (2250, 25)

       airPressure.mbtraining  airPressure.mbtest
count            55800.000000         2250.000000
mean              1002.257258         1010.362089
std                 42.523692           17.065828
min                811.900000          896.900000
25%               1009.675000         1005.700000
50%               1015.350000         1013.550000
75%               1021.500000         1021.500000
max               1084.900000         1033.600000

In [42]:
# all weather measure are missing 75
diff = set(airpressure_nan.index) - set(relhum_nan.index)

In [41]:
diff = set(winddir_nan.index) - set(relhum_nan.index)

In [43]:
column = 'isHoliday'
nan_analysis(column)
value_analysis(column)

Number of Nan for isHoliday: (0, 25) of (55875, 25)
Number of Nan for isHoliday: (0, 25) of (2250, 25)

       isHolidaytraining  isHolidaytest
count       55875.000000    2250.000000
mean            0.064430       0.064000
std             0.245519       0.244807
min             0.000000       0.000000
25%             0.000000       0.000000
50%             0.000000       0.000000
75%             0.000000       0.000000
max             1.000000       1.000000